html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    overflow-x: auto;
}

a:hover {
    text-decoration: none;
}

#directives {
    width: 350px;
    height: 600px;
    background-image: url("../images/back_right_8.jpg");
    background-repeat: repeat;
    background-size: 100% 100%;
    border-top: 1px solid #b1dfbb;
    padding: 2rem 0 0 1rem;
}

#directive-highlight {
    width: 95%;
    height: 265px;
    background-color: rgb(198, 253, 198);
    border: 2px solid rgb(150, 243, 190);
}

.directive-items {
    padding: 0.3rem 0.5rem 0 1.5rem;
}

#notify-core-area {
    width: 999px;
    height: 600px;
    background-image: url("../images/back_right_8.jpg");
    background-repeat: repeat;
    background-size: 100% 100%;
    border-top: 1px solid #b1dfbb;
    padding: 2rem 0 0 2rem;
}

#entries {
    height: 100%;
    width: 100%;

}

#notify-filter {
    height: 120px;
    width: 450px;

}

#date-pick {
    width: 300px;
    height: 42.2px;
}

#notify-units {

}

